@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff6700;
  --primary2: #ff6700;
  --secondary: #002d97;
  --gradient: #fff2e2;
  --color-background: #fff2e2;
  --success-color: #075e54;
  --error-color: #ff1230;
  --warning-color: #fbbf24;
  --text-color: #2a2a2a;
  --icon-color: #9b9999;
  --font-family: "GM Global Arabic";
  --border-color: #ff6700;
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .marquee {
    overflow: hidden;
    position: relative;
  }

  .marquee-inner {
    display: flex;
    width: max-content;
    white-space: nowrap;
    will-change: transform;
  }

  .animate-marquee {
    animation: marquee var(--marquee-duration, 15s) linear infinite;
  }

  .marquee:hover .animate-marquee {
    animation-play-state: paused;
  }
  .animate-marquee-reverse {
    animation-direction: reverse;
  }

  @media (prefers-reduced-motion: reduce) {
    .animate-marquee {
      animation: none;
      transform: none;
    }
  }
}

body {     
  font-family: "GMGlobalArabic", sans-serif;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary);
  border-color: var(--primary);
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white;
}

.ant-checkbox-input:focus + .ant-checkbox-inner {
  box-shadow: 0 0 0 2px rgba(255, 103, 0, 0.2);
}

.ant-checkbox-inner {
  border-color: var(--primary);
}

.clip-path-arrow {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
